@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #3a71a8,
    ),
    "success": (
      "base": #009688,
    ),
    "warning": (
      "base": #fec171,
    ),
    "danger": (
      "base": #e65d6e,
    ),
    "error": (
      "base": #c03639,
    ),
    "info": (
      "base": #909399,
    ),
  ),
  $menu: (
    "active-color": white,
  ),
  $message: (
    "padding": 22px 70px 22px 22px,
  ),
  $border-radius: (
    "base": 0,
    "small": 0,
    "round": 0,
    "circle": 0,
  ),
  $messagebox: (
    "font-size": 14px,
    "width": 320px,
    "border-radius": 0,
  ),
  $header: (
    "height": 50px,
  ),
  $table: (
    "header-bg-color": #dadcdf,
    "row-hover-bg-color": #e8e8e8,
  ),
  $table-cell-padding: (
    "large": 0,
    "default": 0,
    "small": 0,
  ),
  $dialog: (
    "title-font-size": 14px,
    "padding-primary": 10px,
  ),
  $transition-duration: (
    "": 0.1,
    "fast": 0,
  ),
  $tag: (
    "font-size": 12px,
    "border-radius": 0,
  ),
  $tag-padding: (
    "large": 0,
    "default": 0,
    "small": 0,
  ),
  $notification: (
    "title-font-size": 12px,
  )
);
